@import "tailwindcss";

@theme inline {
  /* Brand Colors */
  --color-mainColor: #1B3022;
  --color-accentColor: #B87333;
  --color-accentColorHover: #D18B4A;
  --color-lightColor: #F5F5F5;
  --color-darkColor: #0B0C10;




  /* Brand Typography */
  --font-brand: Arial, Helvetica, sans-serif;

  --text-defaultSize: 20px;

  --text-headingSizeLandscape: 60px;
  --text-subheadingSizeLandscape: 50px;

  --text-headingSizeTablet: 50px;
  --text-subheadingSizeTablet: 45px;

  --text-headingMobile: 40px;
  --text-subheadingSizeMobile: 35px;


  --text-paragraphSizeTablet: 20px;
  --text-paragraphSizeMobile: 17px;



}

html {
  scroll-behavior: smooth;
}

body {
  /* Using the variable defined in @theme */
  font-family: var(--font-brand);
}

/* Checkmark Animation */
.animate-draw {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: draw 1s ease-out forwards;
  animation-delay: 0.2s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}