@import "tailwindcss";

:root {
  --background: #ffffff; /* <--- Sets it to WHITE */
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-light: #ffffff;
  --color-light-dark: #e5e7eb;
  --color-light-blue: #3b82f6;
 
  --color-primary: #2563eb;  
  --color-primary-hover: #1d4ed8;
  --color-primary-dark: #1e3a8a; 
  --color-primary-light: #eff6ff;

  --color-alt: #4ade80;

  --color-alt-3: #a855f7;
  

  --color-dark: #0f172a;


}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* <--- Overwrites it to BLACK */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}